{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #232323;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    .containenr .row h6{
      font-weight: bolder;
    }
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 px-md-5">
            <h6 class="mt-3"><a href="">CONTACT</a></h6>
            <img src={% static 'images/logo.png' %} style="width:150px;">
            <a href="#">Ranibari-29, Kathmandu, Nepal</a>
            <a href="#">01-4358252, +977-9808877932</a>
           
           
        </div>
        <div class="col-sm-2">
            <h6 class="mt-3"><a href="">SHOP</a></h6>
            <a href="">Mirrors</a>
            <a href="">Picture Frames</a>
            <a href="">Top Sellers</a>
            <a href="">New Arrivals</a>
            <a href="">Trending</a>
        </div>
        <div class="col-sm-2">
            <h6 class="mt-3"><a href="">ABOUT</a></h6>
            <a href="">About us</a>
            <a href="">Our Frame Shop</a>
            <a href="">Blog</a>
            <a href="">Reviews</a>
        </div>
         <div class="col-sm-2">
            <h6 class="mt-3"><a href="">CUSTOMER SERVICE</a></h6>
          <a href="">Shipping & Returns</a>
          <a href="">FAQs</a>
          <a href="">Contact Us</a>
        </div>
        <div class="col-sm-2">
            <h6 class="mt-3"><a href="">INFORMATION</a></h6>
          <a href="">Terms of Service</a>
          <a href="">Privacy Policy</a>
          <a href="">Careers</a>
        </div>
      </div>
        <hr>
        <div class="d-flex">
        <a href="http://omframehouse.com.np" style="margin-left: 1rem">&copy Om Frame House 1993-2021 | All Rights Reserved</a>
         <div class="bar">
				<div class=" d-flex footer-social" style="margin-left: 1rem">
					<a href="https://www.facebook.com/omframe" class="bar-social-item fab fa-facebook"></a>
					<a href="https://www.instagram.com/omframehouse/" class="bar-social-item fab fa-instagram"></a>
					<a href="https://www.pinterest.com/omframehouse55/" class="bar-social-item fab fa-pinterest-p"></a>
					<a href="https://www.google.com/maps/place/Om+Frame+House+%26+Art+Gallery/@27.7277318,85.3188216,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1948692f1c27:0x73d02d9f3dcc85ce!8m2!3d27.7277271!4d85.3210103" class="bar-social-item fa fa-map-marker-alt"></a>
				</div>
      </div>
</div>
  </footer>

<!--------------------------------footer end------------------------------------>

